// Import page-specific CSS files here.
@import "home";

body {
  background-color: $mid-green;
}

.index-cards {
  position: relative;
  top: -280px;
}

/* ::::: Media Queries ::::: */

@media (min-width: 768px) {

  .cards-container {
    display: flex;
    flex-wrap: wrap;
  }

  .index-cards {
    width: 45%;
  }
}
