.map-container {
  position: relative;
  top: 30px;
  height: 650px;
  z-index: 1;

  .mapboxgl-map {
    position: sticky;
    top: 98px;
  }

  .mapboxgl-canvas {
    position: absolute;
    border-radius: 0 0 20px 20px;
    box-shadow: 4px 4px 4px $shadow;
  }
}



.mapboxgl-popup {
  max-width: 200px;
  margin-bottom: 10px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-ctrl-top-right{
  transform: scale(70%)translateX(51px);

}

.marker {
  background-color: black;
}

.mapboxgl-marker {
  path {
    fill: $orange;
  }
}
