.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $dark-green;
  z-index: 2;

  .logo {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;

    color: $yellow-palo;
    text-decoration: none;
    padding-left: 40px;
  }

}

.navbar-toggler .menu-burger svg {
  color: white;
  border: none;
}
