
.form-container form {
  display: grid;
  grid-template-columns: 2fr 1fr;

 }

.search-container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 74%;
  height: 26px;
  left: 12%;
  bottom: 34%;

  // padding: 3px 30px;
  // margin: 5px;

  .target-container {
    width: 95%;
  }

}

.mapboxgl-ctrl-geocoder {
  position: relative;
  left: 0;
  right: 20%;
  min-width: 200px;
}

.mapboxgl-ctrl-geocoder--input {
  height: 35px;
  font: -webkit-control;
  background-color: rgba(211, 211, 211, 0.397);
  border-radius: 5px;

}

.mapboxgl-ctrl-geocoder--icon-search {
  position: absolute;
  top: 8px;
}

/* ::::: Media Queries ::::: */

@media (min-width: 768px) {

  .search-container {
    height: 6px;
    width: 59%;
    margin-left: 12px;
  }

  .mapboxgl-ctrl-geocoder {
    min-width: 328px;
    // left: 12%;
    font-size: 26px;
    box-shadow: 1px 2px 6px #6d6c6c;
  }

  .mapboxgl-ctrl-geocoder--input {
    height: 34px;
  }

}

@media (min-width: 992px) {

  .search-container {
    position: absolute;
    left: 9%

  }

  .mapboxgl-ctrl-geocoder {
    min-width: 400px;
    box-shadow: 1px 2px 6px #6d6c6c;
  }

  .search-container .target-container {
    width: 64%;
    box-shadow: 1px 2px 4px #6d6c6c;
  }
}
